.logo {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    display: inline-flex;
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    font-size: clamp( 1rem, 10vw, 65px );
    padding: .2em 0;
    line-height: 100%;
    max-width: 440px !important;
    
}

.underscore-cursor::before {
    content: "_";
    font-weight: 300;
    color: var(--wp--preset--color--primary);
    animation:  blink-underscore .75s step-end infinite;
}

 
.caret {
    animation: typing 1.8s steps( 20, end ) 1s, blink-caret .75s step-end infinite;
    animation-fill-mode: forwards;
    border-right: 6px solid var( --wp--preset--color--primary ); /* The typwriter cursor */
    width: 0;
}

/* The typing effect */
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: var( --wp--preset--color--primary );   }
}

/* The typewriter cursor effect */
@keyframes blink-underscore {
    from, to { color: transparent; }
    50% { color: var( --wp--preset--color--primary );   }
}


.beta {
    color: var( --wp--preset--color--secondary );
    font-size: var(--wp--preset--font-size--large);
    font-weight: 500;
    align-self: flex-start;
	display: inline-flex;
}


input.sib-email-area,
input.sib-NAME-area {
    background: transparent;
	padding: 0;
    border: 0;
    border-bottom: 1px solid var(--wp--preset--color--base);
    width: 100%;
    height: 4rem;
}

input.sib-email-area,
input.sib-NAME-area,
input.sib-email-area::placeholder,
input.sib-NAME-area::placeholder {
	font-family: var(--wp--preset--font-family--source-code-pro);
	font-size: var(--wp--preset--font-size--medium);
	color: var(--wp--preset--color--base);
}

.sib-default-btn {
	background-color: var(--wp--preset--color--primary);
    border-radius: 50px;
    border-width: 0;
    color: var(--wp--preset--color--base);
    font-family: var(--wp--preset--font-family--source-code-pro);
    font-size: inherit;
    line-height: inherit;
    padding: calc(0.667em + 2px) calc(1.333em + 2px);
    text-decoration: none;
    width: 100%;
    margin-top: var(--wp--preset--spacing--60);
    text-transform: uppercase;
}

.banner-2 .wp-block-social-link-anchor {
    background: radial-gradient(black, transparent);
    padding: var(--wp--preset--spacing--50);
    justify-content: center;
}

.banner-2 .wp-block-social-link {
    width: 100%;
    border-radius: 4px;
    background-size: cover;
}

.banner-2 .wp-block-social-link + .wp-block-social-link {    
    margin-top: var(--wp--preset--spacing--50);
}

.banner-2 .wp-social-link-github {
    background-image: var(--wp--custom--banner-images--github);
}

.banner-2 .wp-social-link-youtube {
    background-image: var(--wp--custom--banner-images--youtube);
}